body {
  padding: 10px;
  font-family: sans-serif;
}

#login-sign-in-link{
  color: white;
} 

.asi { 
  align-items:stretch
} 

.asi .current-rating {
  color: blueviolet;
}
  
.errorBox {
  border: 4px solid red !important;
} 


.addTaskFrame-top {
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.addTaskFrame-sides {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.addTaskFrame-bottom {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.privateTask {
  cursor: pointer;
} 


.taskdel {
  float: right;
} 

.privatetask {
  float: right;
} 

.Icons {
  float: right;
} 

.Chand {
  cursor: pointer;
}